{% load staticfiles %}
<html>
    <head>
        <title>EzCOOK17</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'ezcook17/style.css' %}" />
    </head>
    <body>
        <div class="page-header">
            <h1><a href="/" class="title">EzCOOK17</a></h1>
        </div>
        <div class="content container">
            <div>
                {% if request.user.is_authenticated %}
                    Hi, {{request.user}} 
                    <a href="/logout/" class="top-menu"><button type="button" class="btn btn-primary pull-right"  style="margin-right:10px">Logout</button></a>
                {% else %}
                    <a href="{% url 'login_form' %}" class="top-menu"><button type="button" class="btn btn-primary pull-right"  style="margin-right:10px">Login</button></a>
                    <a href="{% url 'signup' %}" class="top-menu"><button type="button" class="btn btn-primary pull-right" style="margin-right:10px">Sign up</button></a>
                {% endif %}
            </div>
                {% block content %}


                {% endblock %}
        </div>
    </body>
</html>
