
{% extends 'header.html' %}

{% block content %}
<div class="row">
    <div class="col-md-8">

    <div class="form-group col-md-12 row" style="margin-top: 30px">
        <i class="fa fa-search fa-2x pull-left searchicon"></i>
        <div class="col-sm-12 col-md-12 col-lg-8">
            <input type="search" class="form-control" id="search" placeholder="Filter recipes...">
        </div>
    </div>
    {% for post in posts %}
        <div class="post">
            <div class="date">
                {{ post.post_time }}
            </div>
	    <div>
		<p> by <a href="{% url 'profilex' post.owner  %}"> {{ post.owner }}</a></p>
	    </div>
            <h1><a href="{% url 'post_detail_without_edit' pk=post.pk|stringformat:"s" %}">{{ post.title }}</a></h1>
            <p>{{ post.content|linebreaksbr }}</p>
            <hr class="divider" />
        </div>
        <script>
        $(function() {
            $('#search').on('keyup', function() {
                var pattern = $(this).val();
                $('.post').hide();
                $('.post').filter(function() {
                    return $(this).text().match(new RegExp(pattern, 'i'));
                }).show();
            });
        });
        </script>
    {% endfor %}

</div>
{% endblock %}
