{% extends 'header.html' %}

{% block content %}
<div>    
    <a href="{% url 'post_new' %}"></a>
    <svg-icon><src href="sprite.svg#si-glyph-plus" /></svg-icon>
</div>
<div class="row">
    <div class="col-md-8">
    {% for post in posts %}
        <div class="post">
            <div class="date">
                {{ post.post_time }}
            </div>
	    <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <p>{{ post.content|linebreaksbr }}</p>
            <hr class="divider" />
        </div>
    {% endfor %}
</div>
{% endblock %}
