body{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background-color: #ECECEA;
    color: black;
}

h1.header {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: #ECECEA;
    /* text-shadow: 1px 1px 2px #000000; */
}

.page-header {
    background-color: #74AFAD;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

a:link {
  color: #D9853B;
}

a:hover {
  color: #D9853B;
}

a:active, a:visited{
  color: #D9853B;
}

a.title {
    font-family: "Comic Sans MS", cursive, sans-serif;
    line-height: 1.25;
    font-size: 40px;
    font-weight: bold;
    color: #ECECEA;
}

a.top-menu {
    line-height: 1.25;
    font-size: 28px;
    font-weight: bold;
    color: #D9853B;
}

.post {
    margin: 20px 0px 10px 0px;;
}

hr.divider {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

button.margin {
    margin: 10px;
}

nav.bg {
    font-family: "Comic Sans MS", cursive, sans-serif;
    background-color: #74AFAD;
}

a.header {
    color: #ECECEA;
}

.container {
    padding: 20px
}

#search {
    width:100%;
}

.searchicon {
    color:#5CB85C;
    display: inline;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}

.items {
    margin: 10px;
}

.items-collection{
    margin:30px 0 0 0;
}
.items-collection label.btn-primary.active{
    background-color:#007ba7;
    color:#FFF;
}
.items-collection label.btn-primary{
    width: 200px;
    height: 100px;
    border:1px solid #305891;
    margin:5px;
    border-radius: 17px;
    background-color: #FFF;
    color: #305891
}
.items-collection label .itemcontent{
    width:100%;
}
.items-collection .btn-primary{
    width:100%;
}

.items-collection .btn span.fa{
    opacity: 0;
}

.items-collection .btn.active span.fa{
    opacity: 1;
}

.remove-field {
    margin-left: 10px;
}

.content {
    height:500px;
}
